.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 60px;
    gap: 50px;
    margin-left: 160px;
    margin-bottom: 100px;
}

/* Container Principal do Resumo */
.cart-bottom-order {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    width: 100%;
}

.cart-total {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* Espaçamento geral entre blocos */
}

/* Título Principal */
.cart-bottom-order h2 {
    color: #4a4543;
    /* Tom de marrom/cinza escuro */
    font-size: max(2vw, 20px);
    font-weight: 700;
    margin: 0;
}

/* Container da lista de restaurantes */
.order-groups-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Espaço entre um restaurante e outro */
}

/* Cada grupo de restaurante */
.order-group-summary {
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* Espaçamento entre as linhas do mesmo restaurante */
}

.order-group-summary .restaurant-name {
    color: #3b4e54;
    /* Tom levemente azulado/esverdeado escuro da imagem */
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.order-group-summary .subtotal,
.order-group-summary .shipping-fee {
    color: #5a5451;
    /* Cor mais suave para não brigar com o título */
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
}

/* Total Final */
.cart-bottom-total h3 {
    color: #636b66;
    font-size: 26px;
    font-weight: 700;
    margin: 10px 0 0 0;
}

.place-order-left {
    width: 40%;
    max-width: max(50%, 500px);
}

.place-order-left .title {
    font-size: max(2vw, 20px);
    color: color-mix(in srgb, var(--bg-color) 30%, black);
    margin-bottom: 35px;
    font-weight: 600;
}


/* Evita que a seta nativa do dropdown fique estranha em alguns browsers */
.place-order-left select {
    cursor: pointer;
    appearance: auto;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 15px;
}

.multi-fields select {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid color-mix(in srgb, var(--bg-color) 80%, black);
    border-radius: 6px;
    font-size: max(1.25vw, 12px);
    outline-color: var(--button-color);
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.place-order-right {
    width: 40%;
    max-width: max(40%, 400px);
}

.place-order-right .title {
    font-size: max(2vw, 20px);
    color: color-mix(in srgb, var(--bg-color) 30%, black);
    margin-bottom: 35px;
    font-weight: 600;
}

@media (max-width:1200px) {
    .place-order {
        flex-direction: column;
        margin-left: 40px;
        margin-right: 40px;
        gap: 30px;
    }

    .place-order-left,
    .place-order-right {
        width: 100%;
        margin-right: 40px;
        max-width: none;
    }
}

@media (max-width:768px) {
    .place-order {
        margin: 40px 20px 80px 20px;
    }
}