DATABASE_USERNAME = your_database_username
DATABASE_PASSWORD = your_database_username
DATABASE_NAME = your_database_name
DATABASE_PORT =your_database_port

TEST_DATABASE_PORT =your_database_test_port
TEST_DATABASE_USERNAME =your_database_test_username
TEST_DATABASE_PASSWORD =your_database_test_password
TEST_DATABASE_NAME =your_database_test_name

NGNIX_PORT =your_ngnix_port
API_PORT = your_api_port
CONTAINER_VOLUME= your_local_image_volume_folder


